.box-face{
	display: flex;
	align-items: start;
	height: 100vh;
	justify-content: center;
}
.face{
	display: flex;
	align-items: center;
	padding: 4px 4px;
	justify-content: center;
	height: 70vh;
	width: 100%;
/*	background-color: lightblue;*/
}
.eyes{
	position: relative;
	height: 0px;
	width: 45px;
	background-color: #000;
	border-radius: 50px;
	animation-name: eyes;
	animation-delay: 3s;
	animation-duration: 0.30s;
	animation-iteration-count: 2;
	animation-timing-function: ease;
}
.line-eyes{
	position: relative;
	margin: 5px -6px;
	height: 3px;
	width: 100px;
	background-color: black;
}

.eyes.paused{
	animation-play-state: paused;
}

@keyframes eyes{
	10% {height: 50px;}
	40% {height: 10px;}
}
